*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-interval:4s;
    --border-triangle:50px;
}
body{
    /* background: #333; */
    /* color: #fff; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    background: rgb(255,208,218);
    background: linear-gradient(90deg, rgba(255,208,218,1) 39%, rgba(255,244,246,1) 96%);
    font-family: 'Anek Tamil', sans-serif;
    overflow-x: hidden;
    position: relative;
}
body.active{height: 100vh;}
body.active::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #E35959;
    z-index: 999;
    animation: openDoor 2s forwards;
}
@keyframes openDoor {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.court-msg{
    color: #fff;
    position: relative;
    z-index: 1000;
    background: #000;
    padding: 2rem;
    font-size: 2rem;
    font-style: italic;
    width: max-content;
    transition: width ease 600ms;
    transform: skew(-14deg, 0deg);
    letter-spacing: 0.03em;
}
img{
    width: 100%;
    height: auto;
}
h1{
    font-size: 6rem;
    font-family: 'Anek Tamil', sans-serif;
    text-transform: uppercase;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.color-section{
    padding: 4rem;
    position: relative;
    border-bottom: 1px solid #fff;
}
.color-section::before,
.color-section::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}
.color-section.yellow::before,
.color-section.yellow::after{
    background:rgb(231, 213, 20);
    animation: slideOpenAlt var(--color-interval) ease forwards;
}
.color-section.green::before,
.color-section.green::after{
    background:rgb(20, 201, 135);
    animation: slideOpen var(--color-interval) ease calc(var(--color-interval) * 2) forwards;
}
.color-section.purple::before,
.color-section.purple::after{
    background:rgb(114, 20, 201);
    animation: slideOpenAlt var(--color-interval) ease calc(var(--color-interval) * 4) forwards;
}
.color-section.red::before,
.color-section.red::after{
    background:rgb(228, 45, 45);
    animation: slideOpen var(--color-interval) ease calc(var(--color-interval) * 6) forwards;
}

@keyframes slideOpen {
    to{left: 100%;}
}
@keyframes slideOpenAlt {
    to{right: 100%;}
}

.color-section > .msg{
    font-weight: 300;
    font-style: italic;
    text-align: left;
    background: rgb(255, 255, 255);
    padding: 2rem 1rem;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    z-index: 5;
    transition: ease 400ms; 
}
.color-section > .msg:hover{
    transform: translateY(-6px);
}
.color-section > .msg:before{
    content: '';
    width: 0;
    position: absolute;
    right: 1rem;
    bottom: -.5rem;

    border-top: var(--border-triangle) solid transparent;
    border-right: var(--border-triangle) solid transparent;
    border-bottom: var(--border-triangle) solid #fff;
    border-left: var(--border-triangle) solid transparent;
    transform: rotate(30deg);
    z-index: -1;
}
.color-section .author{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.color-section .author > img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 2px 5px 0 rgb(135, 135, 135);
    margin-top: 3rem;
}
.row-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .8rem;
}
.row-4 .col{
    background: #fff;
    padding: .3rem;
    transition: ease 400ms;
}
.row-4 .col:hover{
    background: rgb(250, 63, 94);
}
.row-4 .col:nth-child(odd){
    transform: translateY(-20px);
}
.row-4 .col:nth-child(odd),
.row-4 .col:nth-child(odd) img{
    border-radius: 10px 0 10px 0;
}
.row-4 .col:nth-child(even),
.row-4 .col:nth-child(even) img{
    border-radius: 0 10px 0 10px;
}
.row-4 .col > img{
    height: 100%;
    object-fit: cover;
}
.heart-wrapper{
    position: relative;
    cursor: pointer;
}
.heart-wrapper img{
    width: 15rem;
    animation: pulse 1s forwards infinite alternate-reverse;
}
.heart-wrapper h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    margin: 0;
    color: #fff;
    letter-spacing: 0.03em;   
}
@keyframes pulse {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}